src/main/mule/global/retrievetravelontiproutesandschedule-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
      <flow name="retrievetravelontiproutesandschedule-sapi-main">
        <http:listener config-ref="retrievetravelontiproutesandschedule-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrievetravelontiproutesandschedule-sapi-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
            


        </error-handler>
    </flow>
    <flow name="retrievetravelontiproutesandschedule-sapi-console">
        <http:listener config-ref="retrievetravelontiproutesandschedule-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrievetravelontiproutesandschedule-sapi-config" />
		<error-handler ref="globalErrorHandlerError_Handler" />
    </flow>
    <sub-flow name="retrievetravelontiproutesandschedule-sapi-InitializeRequestVariable-Sub_Flow" doc:id="15912a23-c8d1-4712-931b-ac7da4e077cc" >
		<ee:transform doc:id="068b3885-1184-4636-b829-08aa0a7f2206">
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\(transportType)\(transportCompany)\routes:retrievetravelontiproutesandschedule-sapi-config">
		<flow-ref doc:name="Flow Reference Initialize Request Variable" doc:id="19eba6d6-8d5d-49f4-a635-b455bf01ba54" name="retrievetravelontiproutesandschedule-sapi-InitializeRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="08bddffc-73e1-4ca7-b49d-6b7c428c81e0" message="Request Received For Routes TravelOnTip SAPI For TransactionId: #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="4c7f0049-55da-4764-bd16-3849e9c5a498" name="travelOnTip-getRoutes-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="b4810312-af39-4e66-af11-5dc1d5385173" message="Response Sent For Routes TravelOnTip SAPI For TransactionId: #[vars.transactionId]"/>
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schedules:retrievetravelontiproutesandschedule-sapi-config">
		<flow-ref doc:name="Flow Reference Initialize Request Variable" doc:id="652f43bd-5cd8-4994-809f-364a79a0b497" name="retrievetravelontiproutesandschedule-sapi-InitializeRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="ae8ae9b5-b09f-471a-a920-8ef68dc5bc3f" message="Request Received For Schedules TravelOnTip SAPI For TransactionId: #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="a0d172ec-8b44-4f6f-855a-1f1b09f65588" name="travelOnTip-getSchedules-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="0e507c3d-1491-4b5a-96e5-5fbf6e3aeb24" message="Response Sent For Schedules TravelOnTip SAPI For TransactionId: #[vars.transactionId]"/>
    </flow>
</mule>
